@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:  hsl(214, 47%, 23%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}
